.App {
/*  App stuff will go in here*/
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background: #eee;
  margin-bottom:10px;

}
.nav__logo{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  flex-grow: 2;
}

.nav__links{
  flex-grow: 3;
  display: flex;
  justify-content: space-around;
}

.nav__links a{
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.card{
  padding:1rem;
  width: 80%;
  background: #ddd;
  margin: 5px auto;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  height: 100px;
}

.card__left{
  width: 70%;
  display: flex;
  flex-direction: column;
}

.card__title{
  font-weight: bold;
  font-size:18px;
}

.card__summary{
  font-size: 16px;
}

.card__right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card__date{
  font-weight: bold;
}

.card__userName{
  font-style:italic;
  color: blue;
}

