.App {
/*  App stuff will go in here*/
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: #eee;

}
.nav__logo{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  flex-grow: 2;
}

.nav__links{
  flex-grow: 3;
  display: flex;
  justify-content: space-around;
}

.nav__links a{
  color: #333;
  text-decoration: none;
  cursor: pointer;
}